# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Angular build
dist/
out-tsc/
.angular/

# Local JSON server (não precisa no repo)
db.json
server.js
start-json-server.bat
start-server.bat
create-folders.ps1
package-server.json
README-API.md
README-JSON-SERVER.md

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp
.DS_Store
Thumbs.db

# Database files
*.db
backend/prisma/dev.db