<div class="modal-overlay" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-content" (click)="stop($event)">
    <div class="modal-header">
      <h3>{{ title }}</h3>
      <button class="modal-close" (click)="handleClose()">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="icon-box">
        <span class="material-icons">check_circle</span>
      </div>
      <p class="message">{{ message }}</p>
    </div>

    <div class="modal-footer">
      <button class="btn-ok" (click)="handleClose()">{{ confirmText }}</button>
    </div>
  </div>
</div>
