<div class="metas-container">
  <!-- Header -->
  <div class="header-metas">
    <h1>
      <span class="material-icons">favorite</span>
      PLANO DE METAS DO CASAL
    </h1>
    <p>Construindo sonhos juntos, passo a passo</p>
  </div>

  <!-- Seção 1: Elaborando as Metas do Casal -->
  <app-elaborando-metas [metas]="metas" [percentualPagoView]="percentualPagoView"
    [totalValorMetaView]="totalValorMetaView" [totalValorPorMesView]="totalValorPorMesView"
    [totalMesesNecessariosView]="totalMesesNecessariosView" [totalValorAtualView]="totalValorAtualView"
    [totalContribuicoesView]="totalContribuicoesView" (metasAtualizadas)="reloadMetas()" (addMeta)="adicionarMeta()"
    (confirmar)="onConfirmarCampo($event)" (remover)="removerMeta($event)">
  </app-elaborando-metas>

  <!-- Tabela de Progresso -->
  <app-progress-table [metas]="metas"></app-progress-table>

  <!-- Seção 2: Executando as Metas do Casal -->
  <app-executando-metas [meses]="meses" [metas]="metas" [totalContribuicoesView]="totalContribuicoesView"
    (alternarStatus)="onAlterarStatus($event)" (salvarValor)="onSalvarValorMes($event)"
    (metaCompleta)="onMetaCompleta($event)">
  </app-executando-metas>
</div>
