<div class="sidebar-component-container" [class.closed]="!sidebarStatus">
  <header class="sidebar-header">
    <div class="sidebar-header__button">
      <button (click)="onSidebarClick()">
        ✕
      </button>
    </div>
  </header>
  <main class="sidebar-container">
    <a routerLink="/dashboard" (click)="onSidebarClick()">
      📊 Dashboard
    </a>
    <a routerLink="/metas" (click)="onSidebarClick()">
      🎯 Objetivos
    </a>
    <a routerLink="/investimentos" (click)="onSidebarClick()">
      💰 Investimentos
    </a>
    <a routerLink="/despesas" (click)="onSidebarClick()">
      💸 Despesas
    </a>
    <a routerLink="/receitas" (click)="onSidebarClick()">
      💵 Receitas
    </a>
    <a routerLink="/dividas" (click)="onSidebarClick()">
      📋 Dívidas
    </a>
  </main>
</div>
